{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am Anant Agrawal the creator of this blog website and I am currently 17 years old working on improving my skills on programming.</p>
        <p>I am learning new programming languages like python, HTML, CSS, Javascript and see me as a successful engineer and developer in future.</p>
        <p>I had this interest in programming when I started playing games in mobile and I had motivation that I will build my own game which other people will like.</p>
        <p>Please do share your comments on the blog posts. I will appreciate your thoughts and will do improvisation if needed.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}